<div class="container">
<!-- <form [formGroup]="forma" (ngSubmit)="onSubmit()">
      <div class="form-group row">
    <label for="registeredOn">Registrado</label>
    <input name="registeredOn"
    formControlName="registeredOn"
        type="date" />
  <label for="name">Name</label>
  <input name="name"
        formControlName="name"
        type="text" />
  <label for="email">E-mail</label>
  <input name="email"
        formControlName="email"
        type="email" />
  <label for="password">Password</label>
  <input name="password"
        formControlName="password"
        type="password" />
        <button type="submit" [disabled]="!forma.valid">Submit</button>
      </div>
</form> -->
<!--control de ng-boostrap -->
<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

<hr />
<button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb
  2013</button>

<hr />

<pre>Month: {{ date.month }}.{{ date.year }}</pre>
<pre>Model: {{ model | json }}</pre>
<br>
<label>table-responsive-sm</label>
<div class="table-responsive-sm">
      <table class="table tabla">
        <tr><td>cell1</td><td>cell segunda .small...</td><td>celda  tercera  .small  texto</td></tr>
        <tr><td>cell1</td><td>cell segunda .small....</td><td>celda  tercera  . small  texto</td></tr>
        <tr><td>cell1</td><td>cell segunda .small....</td><td>celda  tercera  . .small texto</td></tr>
      </table>
    </div>
    <label>table-responsive-md</label>
    <div class="table-responsive-md">
      <table class="table tabla2">
        <tr><td>cell1</td><td>cell segunda mediaana...</td><td>celda  tercera  . mediaana texto</td></tr>
        <tr><td>cell1</td><td>cell segunda mediaana.</td><td>celda  tercera  . .mediaana texto</td></tr>
        <tr><td>cell1</td><td>cell segunda mediaana.</td><td>celda  tercera  . .mediaana texto</td></tr>
      </table>
    </div>
</div>
