.destacado{
    background: #b43617;
    padding: 15px;
    color:#fff;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    cursor: pointer;
}
.normal{
    font-weight:10px;
    text-align: center;
    padding: 3px;
}